{% load static %}
{% load sass_tags %}

doctype html
html
    head
        meta(charset='utf-8')
        title Project Health
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.9.0/css/all.css', integrity='sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E', crossorigin='anonymous')
        link(rel='stylesheet' href='{% sass_src "sass/login.sass" %}' type="text/css")
    body.notification.is-info
        .section
            .container
                figure.image.has-text-centered
                    img.logo(src="{% static 'imgs/logo.png' %}")
                #loginBox.has-text-centered.box
                    h1.title Login
                    hr
                    form(method='post')
                        {% csrf_token %}
                        .field
                            p.control.has-icons-left.has-icons-right
                                input.input(type='email', placeholder='Email' name='email')
                                span.icon.is-small.is-left
                                    i.fas.fa-envelope
                        .field
                            p.control.has-icons-left
                                input.input(type='password', placeholder='Password' name='pw')
                                span.icon.is-small.is-left
                                    i.fas.fa-lock
                        .field
                            p.control
                                button.button.is-success
                                    | Login
                                if invalid
                                    p.help.is-danger Dados inválidos.


                

        
        //- footer.footer
        //-     .content.has-text-centered
        //-         p
        //-             strong Project Health
        //-             |  feito por alunos lindos demais.
        //-         span.icon.is-medium
        //-             i.fas.fa-2x.fa-hand-point-right
        //-         span.icon.is-medium
        //-             i.far.fa-2x.fa-circle

            //- Scripts
            script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js")
            //- script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
            script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')