{% load static %}
{% load sass_tags %}

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href="{% static 'vendor/fa/css/all.css' %}")
        block styles
            link(rel='stylesheet' href='{% sass_src "sass/base.sass" %}' type="text/css")
            link(rel='stylesheet', href="{% static 'vendor/bulma.min.css' %}")
        title Project Health

        block navbar
            body.has-navbar-fixed-top
                nav.navbar.has-shadow.is-spaced.is-info.is-fixed-top(role='navigation', aria-label='main navigation')
                    .container
                        .navbar-brand
                            a.navbar-item(href='{% url "dashboard:dashboard" %}')
                                img(src="{% static 'imgs/logo_altw.png' %}" style="max-height:40px")
                            a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
                                span(aria-hidden='true')
                                span(aria-hidden='true')
                                span(aria-hidden='true')
                        .navbar-menu
                            .navbar-start
                                a.navbar-item(href='{% url "medications:meds_all" %}')
                                    span.icon.is-large
                                        i.fas.fa-lg.fa-pills 
                                    |   DROGAS
                                a.navbar-item
                                    span.icon.is-large
                                        i.fas.fa-lg.fa-utensils 
                                    |   Alimentação
                                a.navbar-item
                                    span.icon.is-large
                                        i.fas.fa-lg.fa-file-medical-alt
                                    |   Medições
                                .navbar-item.has-dropdown.is-hoverable
                                    a.navbar-link
                                        //- span.icon.is-large
                                        //-     i.fas.fa-lg.fa-ellipsis-h
                                        |   Mais
                                    .navbar-dropdown
                                        a.navbar-item(href="{% url 'users:patient_all' %}")
                                            span.icon.is-medium.has-text-primary
                                                i.fas.fa-lg.fa-user-shield 
                                            |   Todos os pacientes
                                        a.navbar-item(href="{% url 'users:patient_add' %}")
                                            span.icon.is-medium.has-text-info
                                                i.fas.fa-lg.fa-plus 
                                            |   Adicionar Paciente
                                        a.navbar-item Ser
                                        hr.navbar-divider
                                        a.navbar-item Saudável
                            .navbar-end
                                a.navbar-item(href='{% url "dashboard:logout" %}')
                                        span.icon.is-large
                                            i.fas.fa-lg.fa-sign-out-alt
                                        |   Log-out


        //- Navbar old 
            section.hero.is-info.is-bold.logo-header
                .hero-body
                    img.title.logo(src="{% static 'imgs/logo.png' %}")
                    hr
                    nav.level.is-mobile.is-half
                        .level-item.has-text-centered
                            div
                                a.link
                                    span.icon.is-medium
                                        i.fas.fa-2x.fa-home
                                    p.subtitle Home
                        .level-item.has-text-centered
                            div
                                a.link
                                    span.icon.is-medium
                                        i.fas.fa-2x.fa-pills
                                    p.subtitle Medicamentos
                        .level-item.has-text-centered
                            div
                                a.link
                                    span.icon.is-medium
                                        i.fas.fa-2x.fa-file-medical-alt
                                    p.subtitle Medições
                        .level-item.has-text-centered
                            div
                                a.link
                                    span.icon.is-medium
                                        i.fas.fa-2x.fa-utensils
                                    p.subtitle Alimentação


        block content

        footer
            block footer
                //- .footer
                    .content.has-text-centered
                        p
                            strong Project Health
                            |  feito por alunos lindos demais.
                        span.icon.is-medium
                            i.fas.fa-2x.fa-hand-point-right
                        span.icon.is-medium
                            i.far.fa-2x.fa-circle

            //- Scripts
            script(src="{% static 'vendor/jquery.js' %}")
            script(src="{% static 'vendor/Chart.bundle.js' %}")
            //- script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
            block scripts
                script(src="{% static 'js/base.js' %}")
