extends base
block append styles

block content
    .section.after-nav
        .container
            .box
                .title.v-center.is-flex
                    span.icon.is-large.has-text-med
                        i.fas.fa-pills
                    p.subtitle.is-inline.card-title 
                        strong &nbspMedicamentos
