extends base
{% load static %}

block content
    .section.after-nav
        .container
            form.box(method='post')
                {% csrf_token %}
                .field.is-horizontal
                    .field-label.is-normal
                        label.label Paciente
                    .field-body
                        .field
                            p.control.is-expanded.has-icons-left
                                input.input(type='text', placeholder='Nome' name='name')
                                span.icon.is-small.is-left
                                    i.fas.fa-user
                        .field
                            p.control.is-expanded.has-icons-left.has-icons-right
                                input.input(type='email', placeholder='Email', value='' name='email')
                                span.icon.is-small.is-left
                                    i.fas.fa-envelope
                                span.icon.is-small.is-right
                                    i.fas.fa-check
                .field.is-horizontal
                    .field-label
                    .field-body
                        .field
                            p.control.is-expanded.has-icons-left
                                input.input(type='text', placeholder='Idade' name='age')
                                span.icon.is-small.is-left
                                    i.fas.fa-calendar
                .field.is-horizontal
                    .field-label
                        // Left empty for spacing
                    .field-body
                        .field
                            .control
                                button.button.is-primary(type='submit')
                                    | Submit





